BeautifulSoup==3.2.1
Django==2.2.24
PyRSS2Gen==1.0.0
PyYAML==3.10
Scrapy==0.14.4
South==0.7.6
Twisted==12.0.0
altgraph==0.9
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
bdist-mpkg==0.4.4
beautifulsoup4==4.1.1
billiard==2.7.3.12
celery==3.0.9
django-bootstrap-toolkit==2.5.6
django-bootstrapped==0.1.1-dev
django-cache-machine==0.6
django-celery==3.0.9
django-classy-tags==0.3.4.1
django-cms==2.3.1
django-mptt==0.5.2
django-sekizai==0.6.1
gunicorn==0.14.6
html5lib==0.95
kombu==2.4.5
lxml==2.3.5
macholib==1.4.2
mechanize==0.2.5
modulegraph==0.9.1
nltk==2.0.2
numpy==1.6.1
psycopg2==2.4.5
py2app==0.6.3
pyOpenSSL==0.13
pymongo==2.2.1
python-dateutil==1.5
python-memcached==1.48
pytz==2012d
redis==2.6.2
requests==0.13.5
scipy==0.10.1
simplejson==2.6.1
urllib3==1.5
w3lib==1.2
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
