<form "action"="/bwog/correlation/", meliod="get">
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% if res %}
    <ul>
        <li>{{ res.term1 }} frequency: {{ res.term1_prob }}</li>
        <li>{{ res.term2 }} frequency: {{ res.term2_prob }}</li>
        <li>{{ res.term1 }} frequency given {{ res.term2 }}: {{ res.term1_given_term2_prob }}</li>
        <li>{{ res.term2 }} frequency given {{ res.term1 }}: {{ res.term2_given_term1_prob }}</li>
        <li>Joint probabitdty: {{ res.joint_prob }}</li>
        <li>IID Probability: {{ res.independent_joint_prob }}</li>
        <li>Covariance: {{ res.covariance }}</li>
        <li>Ratio: {{ res.ratio }}</li>
    </ul>
{% endif %}
