{% extends "base.html" %} 

{% block extra_head %}
    {% endblock %}
{% block content %}
    <!--jQuery References-->
        
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.min.js"
    type="text/javascript">
    </script>
        
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js"
    type="text/javascript">
    </script>
      
    <!--Wijmo Widgets JavaScript-->
        
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.2.0.0.min.js"
    type="text/javascript">
    </script>
        
    <script src="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.0.0.min.js"
    type="text/javascript">
    </script>
     
    <!--Theme-->
        
    <link href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" rel="stylesheet"
    type="text/css" title="rocket-jqueryui" />
    <!--Wijmo Widgets CSS-->
        
    <link href="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.0.0.min.css"
    rel="stylesheet" type="text/css" />
    <meta property="og:title" content="Facebook Open Graph META Tags" />
    <meta property="og:url" content="http://bwogstats.name/facebook-meta-tags"
    />
    <link rel="canonical" href="http://bwogstats.com/stats/" />
    <meta property="og:title" content="BwogStats:{{ res.term1 }} vs{{ res.term2 }}in Bwog's comments" />
    <div id='fb-root'>
    </div>
    <script src='http://connect.facebook.net/en_US/all.js'>
    </script>
    <script>
     FB.init({
     appId: "280434288737227",
     status: true,
     cookie: true
 });

 function postToFeed() {

     // calling the API ...
     var obj = {
         method: 'feed',
         //  link: 'https://developers.facebook.com/docs/reference/dialogs/',
         picture: 'http://bwogstats.com/static/img/icon-large.jpg',
         name: ' {{ res.term1 }} vs {{ res.term2 }}',
         caption: 'Average # of votes for each comments',
	 description: 'BwogStat #47: Bwog comments with{{ res.term1 }} are {{ res.ratio }}x {% if res.term1 > res.term2  %}more{% endif %}{% if res.term1 < res.term2 %}less{% endif %} likely to include {{ res.term2 }}.'
     };

     function callback(response) {
         document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
     }

     FB.ui(obj, callback);
 }
    </script>
    <script id="scriptInit" type="text/javascript">
            $(document).ready(function() {
            $("#votechart").wijbarchart({
                axis: {
                    y: {
                        text: "Average Votes",
                        origin: 0
                    },
                    x: {
                        text: ""
                    }
                },

                hint: {
                    content: function() {
                        return this.data.label + '\n ' + this.y + '';
                    }
                },

                header: {
                    text: "Upvotes & Downvotes"
                },

                seriesList: [{
                    label: "{{ res.term1 }}'",
                    legendEntry: true,
                    data: {
                        x: ['upvotes', 'downvotes', 'score'],
                        y: [{{res.term1_average_upvotes}}, {{ res.term1_average_downvotes }}, {{ res.term1_average_score }}]
                    }
                }, {
                    label: "{{ res.term2 }}",
                    legendEntry: true,
                    data: {
                        x: ['upvotes', 'downvotes', 'score'],
                        y: [
                            {{ res.term2_average_upvotes }},
                            {{ res.term2_average_downvotes }},
                            {{ res.term2_average_score }} ]
                    }
                }

                ],
                horizontal: false,
                seriesStyles: [{
                    fill: "#27719D",
                    stroke: "#fff",
                    opacity: 0.5
                }, {
                    fill: "#259F61",
                    stroke: "#fff",
                    opacity: 1
                }],

                seriesHoverStyles: [{
                    "stroke-width": "1.5",
                    opacity: 1
                }]
            });
            $("#correlationchart").wijbarchart({
                axis: {
                    y: {
                        text: "# Comments",
                        origin: 0
                    },
                    x: {
                        text: "Expected",                    }
                },

                hint: {
                    content: function() {
                        return this.data.label + '\n ' + this.y + '';
                    }
                },

                header: {
                    text: "Times used together"
                },

                seriesList: [{
                    label: "Expected",
                    legendEntry: true,
                    data: {
                        x: ['C'],
                        y: [{{ res.expected_both_count }}]
                    }
                }, {
                    label: "Actual",
                    legendEntry: true,
                    data: {
                        x: [''],
                        y: [ {{ res.both_count }} ]
                    }
                }

                ],
                horizontal: true,
                seriesStyles: [{
                    fill: "#000",
                    stroke: "#fff",
                    opacity: 0.75
                }, {
                    fill: "#79C4F2",
                    stroke: "#fff",
                    opacity: 1
                }],

                seriesHoverStyles: [{
                    "stroke-width": "1.5",
                    opacity: 1
                }]
            });
        });
    </script>
    <div class="container">
        <div class="row ">
            <div class="page-header span12">
                <div class="ac">
                    <h1>
                        Compare Terms
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">
            </div>
            <div class="span3">
                <legend> <div class="ac"><h2> Enter Terms</h2></div></legend>

                <form "action"="/bwog/correlation/" , method="get" class="form-inline">
                    <div class="control-group">
                        <label class="control-label" for="inputTerm1">
                            <h4>
                                <div class="ac">
                                    First Term
                            </h4>
                        </label>
                        <div class="controls">
                            {{ form.term1 }}
                        </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputTerm2">
                                <h4>
                                    Second Term
                                </h4>
                            </label>
                            <div class="controls">
                                {{ form.term2 }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary btn-large">
                                    <i class="icon-white icon-filter">
                                   </i>
                                    Analyze Terms
                                    </a>
                            </div>
                        </div>
                </form>
            </div>
                        <div class="span2">
            </div>

             <div class="span4">
               <legend> <div class="ac"><h2> How it works</h2></div></legend>
               <ol>
                <h4><li>Enter two words or phrases </h4></li>
                <h4><li>We analyze every bwog comment that contains either phrase</h4></li>
                <h4><li>The results show up below (this can take awhile, we're trying to make it faster)</h4></li>
                </ol>
                <br>
                Find something cool? <a href="http://twitter.com/bwogstats">tweet</a> it to us or post it on our <a href="http://facebook.com/bwogstats">facebook</a> page. 
            </div>


            </div>
            {% if res %}
            <!-- Scores -->
            <div class="row top-space">
                <div class="span12">
                    <legend>
                        <div class="ac">
                            <h1>
                                Results: <span class="term1"> {{ res.term1 }}</span> vs.<span class="term2"> {{ res.term2 }}</span>
                            </h1>
                        </div>
                    </legend>
                </div>
            </div>
            <div class="row">
            <div class="ac">
                <h3>      
                            There are {{ res.term1_count }} comments containing<span class="term1"> {{ res.term1 }}</span> and
                            {{ res.term2_count }} comments containing<span class="term2"> {{ res.term2 }}</span>.</h3></div>
                <div class="span4">
                </div>
                <div class="span4">                
                     <table class="table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th>Term</th>
                                    <th># Comments</th>
                                </tr>

                                </thead>
                                <tbody> <span class="term1"> 
                                    <tr class="term1">
                                        <td><h3><b> {{ res.term1 }} </b></h3></td>
                                        <td><h3><b> {{ res.term1_count }} </b></h3></td>
                                    </tr>
                                </span>
                                    <tr class="term2">
                                        <td> <h3><b> {{ res.term2 }} </b> </h3></td>

                                        <td><h3><b> {{ res.term2_count }} </b></h3></td>
                                    </tr>
                                </tbody>
                            </table></div>
                            <div class="span4">
                            </div>
                            <legend>
                            </legend>
            <div class="row">
                <div class="span12">
                    <div class="ac">
                        <legend>
                            <h2>
                                <i class="icon-arrow-up icon-large baseline" style="font-size:16px">
                                </i>
                                <i class="icon-arrow-down icon-large baseline" style="font-size:16px">
                                </i>
                                &nbsp;Score
                            </h2>
                        </legend>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                </div>
                <div class="span8">
                    <div class="ac">
                        <h3>
                            There are {{ res.term1_count }} comments containing<span class="term1"> {{ res.term1 }}</span> and
                            {{ res.term2_count }} comments containing<span class="term2"> {{ res.term2 }}</span>. Comments with
                           <span class="term1"> {{ res.term1 }}</span> have on average {{ res.term1_average_upvotes }} upvotes and {{ res.term1_average_downvotes }} downvotes, while
                            comments with <span class="term2">{{ res.term2 }}</span> average {{ res.term2_average_upvotes }} upvotes and {{ res.term2_average_downvotes }} downvotes.
                        </h3>
                        <p class="pull-right">
                            <a href="tweet">Tweet</a>
                            or
                            <a onclick='postToFeed(); return false;'>share</a>
                            this
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h3>
                        <div class="ac">
                            Details
                        </div>
                    </h3>
                    <table class="table" id='versus-table'>
                        <thead>
                            <tr>
                                <th>
                                    Metric
                                </th>
                                <th>
                                   <span class="term1"> {{ res.term1 }}</span>
                                </th>
                                <th>
                                   <span class="term2"> {{ res.term2 }}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='num_comments'>
                                <td>
                                    # Comments
                                </td>
                                <td>
                                    {{ res.term1_count }}
                                </td>
                                <td>
                                    {{ res.term2_count }}
                                </td>
                            </tr>
                            <tr class='average_upvotes'>
                                <td>
                                    Average Upvotes
                                </td>
                                <td>
                                    {{ res.term1_average_upvotes }}
                                </td>
                                <td>
                                    {{ res.term2_average_upvotes }}
                                </td>
                            </tr>
                            <tr class='average_downvotes'>
                                <td>
                                    Average Downvotes
                                </td>
                                <td>
                                    {{ res.term1_average_downvotes }}
                                </td>
                                <td>
                                    {{ res.term2_average_downvotes }}
                                </td>
                            </tr>
                            <tr class='average_score'>
                                <td>
                                    Average Score
                                </td>
                                <td>
                                    {{ res.term1_average_score }}
                                </td>
                                <td>
                                    {{ res.term2_average_score }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    <div id="votechart" class="ui-widget ui-widget-content ui-corner-all"
                    style="width: 550px; height: 270px; background: transparent; border: 0px; ">
                    </div>
                </div>
            </div>
          
            <!-- /scores -->
            <!-- correlations -->
            <div class="row">
                <div class="span12">
                    <div class="ac">
                        <legend>
                            <h2>
                                <i class="icon-magnet icon-large baseline" style="font-size:16px">
                                </i>
                                &nbsp;Correlations
                            </h2>
                        </legend>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                </div>
                <div class="span8">
                    <div class="ac">
                        <h3>
                            Bwog comments that include <span class="term1">{{ res.term1 }}</span> are
                            <b>
                                {{ res.ratio }}x
                            </b>
			    {% if res.ratio > 1 %}more{% endif %}{% if res.ratio < 1 %}less{% endif %} likely to also include the phrase <span class="term2">{{ res.term2 }}</span>.
                        </h3>
                        <p class="pull-right">
                            <a href="tweet">Tweet</a>
                            or
                            <a href="fb">share</a>
                            this
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
        <div class="span6">
            <h3>
                <div class="ac"> Details </div>
            </h3>
                    <table class="table">
                        <tr>
                        <td>Expected occurrences together</td>
                        <td>{{ res.expected_both_count }}</td>
                    </tr>
                        <tr><td>Expected Probability </td>
                            <td> {{ res.independent_joint_prob }}% </td>
                    </tr>
                    <tr>
                        <td>Actual occurences together</td>
                        <td>{{ res.both_count }}</td>
                    </tr>
                    <tr><td>Actual Probability </td>
                        <td> {{ res.joint_prob }}% </td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td>{{ res.ratio }}<td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <h3>
                <div class="ac"> Graph </div>
            </h3>
            <div id="correlationchart" class="ui-widget ui-widget-content ui-corner-all" style="width: 550px; height: 270px; background: transparent; border: 0px; ">
            </div>        
        </div>
    </div>
    <div class="row">
            <div class="span12">
                <div class="ac">
                <legend>
                            <h2>
                                <i class="icon-signal icon-large baseline" style="font-size:16px">
                                </i>
                                &nbsp;Trends
                </h2>
                </legend>
                </div>
            </div>
    </div>
     <div class="row">
                <div class="span2">
                </div>
                <div class="span8">
                    <div class="ac">
                        <h3>
                            Popularity of <span class="term1">{{ res.term1 }}</span> and <span class="term2">{{ res.term2 }}</span> over time. 
                        </h3>
                        <p class="pull-right">
                            <a href="tweet">Tweet</a>
                            or
                            <a href="fb">share</a>
                            this
                        </p>
                    </div>
                </div>
            </div>

        <div class="span12">
         
            <div id="plot">
            </div>
        </div>
    </div>

            {% endif %}
        </div>
{% endblock %}
