{% load bootstrap %}
{% bootstrap_js all %}
{% bootstrap_js modal alerts dropdown %}
{% bootstrap_css %}
Welcome to BwogStats beta
<ul>
    <li><a href="/bwog/comments/daily_best/">Best comments today</a></li>
    <li><a href="/bwog/comments/daily_worst/">Worst comments today</a></li>
    <li><a href="/bwog/comments/best/">Best all time comments</a></li>
    <li><a href="/bwog/comments/worst/">Worst all time comments</a></li>
    <li><a href="/bwog/correlation/">Stats</a></li>
    <li><a href="/bwog/zeitgeist/">Zeitgeist (capital beta)</a></li>
</ul>
