{% extends "base.html" %}

{% block content %}

    <div class="well">
        <h1>BwogStats!</h1>
        <p>The best, worst, and most surprising bwog comments</p>
       
    </div>

    <div class="row">
        <div class="span4">
            <h2>Best Comments</h2>


            <p><a class="btn" href="http://twitter.github.com/bootstrap/">All Time</a></p>
        </div>
        <div class="span4">
            <h2>Worst Comments</h2>
            <p><a class="btn" href="/bwog/comments/worst/">All Time</a>

            <a class="btn" href="bwog/comments/daily_worst">This Week</a></p>
        </div>
       
    </div>

    <p>A big thanks to all the people that worked on Django and Bootstrap.</p>

{% endblock %}

 