{% extends "base.html" %} {% block content %}
<div class="hero-unit">
    <div class="ac">
        <h1>
            {{ description }} - {{ timeframe }}
        </h1>
        <br />
        <p>
            by number of downvotes
        </p>
    </div>
</div>
<div class="ac">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <h2>
                <tr>
                    <th>
                        <h2 class="ac">
                            Rank
                        </h2>
                    </th>
                    <th>
                        <h2 class="ac">
                            {{ rank_unit }}
                        </h2>
                    </th>
                    <th>
                        <h2 class="ac">
                            Author
                        </h2>
                    </th>
                    <th>
                        <h2 class="ac">
                            Comment
                        </h2>
                    </th>
                    <th>
                        <h2 class="ac">
                            On
                        </h2>
                    </th>
                </tr>
            </h2>
        </thead>
        <tbody>
            {% if ranked_comments %} {% for comment in ranked_comments %}
            <tr>
                <td>
                    <div class="ac">
                        {{ comment.rank }}
                    </div>
                </td>
                <td>
                    <div class="ac">
                        {{ comment.ranked_value }}
                    </div>
                </td>
                <td>
                    {{ comment.author }}
                    </a>
                </td>
                <td>
                    {{ comment.body|truncatechars:150|linebreaks }}
                    <a href="/bwog/comments/{{ comment.bwog_id }}/">view full</a>
                </td>
                <td>
                    <a href="/bwog/articles/{{ comment.article.id }}/">{{ comment.article.title }}</a>
                </td>
                {% endfor %} {% endif %}
        </tbody>
    </table>
    {% endblock %}
