{% extends "base.html" %}

{% block content %}
<form "action" = "/bwog/zeitgeist/", method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<div id="plot"></div>
<link href="{{ STATIC_URL }}jqplot/jquery.jqplot.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}jquery-1.8.0.js"></script>
<script src="{{ STATIC_URL }}bwog/zeitgeist.js"></script>
<script src="{{ STATIC_URL }}jqplot/jquery.jqplot.js"></script>
<script src="{{ STATIC_URL }}jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
<script src="{{ STATIC_URL }}jqplot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
<script src="{{ STATIC_URL }}jqplot/plugins/jqplot.canvasTextRenderer.js"></script>

THIS IS THE STATIC_URL {{ STATIC_URL }}

{% endblock %}
