<form "action" = "/bwog/zeitgeist/", method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<div id="plot"></div>
<link href="/static/jqplot/jquery.jqplot.css" rel="stylesheet" type="text/css">
<script src="/static/jquery-1.8.0.js"></script>
<script src="/static/bwog/zeitgeist.js"></script>
<script src="/static/jqplot/jquery.jqplot.js"></script>
<script src="/static/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
<script src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
<script src="/static/jqplot/plugins/jqplot.canvasTextRenderer.js"></script>
