<!DOCTYPE html>
<html lang="en" {% block extra_html %}{% endblock extra_html %}>

	<head>
		<meta charset="utf-8">
		<title>
			BwogStats - {% block title %}{% endblock %}
		</title>    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
		<script src="/static/jquery-1.8.0.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Statistical analysis of Columbia's Bwog comments">
		<meta name="author" content="Patrick McGuire">
		<meta property="og:site_name" content="BwogStats"/>

		<!-- styles -->
		    <link rel="shortcut icon" href="static/img/favicon.ico">

		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/da-slider.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">
		<link href="/static/css/font-awesome.css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jqplot_to_image.js"></script>
		<script type="text/javascript" src="/static/js/modernizr.custom.28468.js"></script>
		
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'
		rel='stylesheet' type='text/css'>

		<link href="/static/jqplot/jquery.jqplot.css" %} rel="stylesheet" type="text/css">

		{% block extra_head %}{% endblock extra_head %}
		<!-- Google Analytics -->
	<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34871846-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>

    <body {% block extra_body %}{% endblock extra_body %}>
	    {% block nav %}{% endblock nav %}
	    <div class="container">
		    <div class="row">
			    {% if messages %} {% for message in messages %}
			    <div class="alert alert-success">
				    <a class="close" data-dismiss="alert">×</a>
				    <h4 class="alert-heading">
					    {{ message.tags }}
				    </h4>
				    <p>
				    {{ message }}
				    </p>
			    </div>
			    {% endfor %} {% endif %}
		    </div>
	    </div>
	    <!-- Header==================================================- ->
	    <header id="header">

	    <!-- Navigation
	    ================================================== -->
	    <div class="navbar">
		    <div class="navbar-inner custom-navbar">
			    <div class="container">
				    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
				    </a>
				    <a class="brand custom-brand" href="/bwog/">
					    <!-- image brand -->
					    <!-- <img src="img/logo.png" alt="Super slogan"> -->
					    <!-- text brand -->
					    <span class="brand-style"><span class="brand-color">Bwog</span>Stats</span>
				    </a>
				    <div class="nav-collapse in" style="height:auto;">
					    <ul class="nav pull-right">
						    <li><a class="active" href="/bwog/">Home</a></li>
						    <li><a href="/bwog/comments/best">Charts</a></li>
						    <li><a href="/bwog/correlation">Correlations</a></li>
						    <li><a href="/bwog/predictions">Predictions</a></li>
						    <li><a href="/bwog/contact">Contact</a></li>
					    </ul>
				    </div><!--/.nav-collapse -->
			    </div><!-- /container -->
		    </div>
	    </div>
	    <!-- end .navbar -->
	    </header>
	    {% block content %}{% endblock %}
	    <!-- Page Footer -->
	    <footer>
	    <div class="container">
		    <div class="row">
			    <div class="container">
				    <div class="row">
					    <div class="span4">
						    <h4>Most recent <span class="brand-style"><span class="brand-color">Bwog</span>Stat:</span></h4><br>
						    <div id=”twitter_update_list”>

</div> 		
 occuring by chance is <b>1%</b><br>
						    <a href="http://twitter.com/bwogstats/">Read more →</a></p>
					    </div>
					    <div class="span2">
						    <h4>Quick Links</h4><br>
						    <div class="row">
							    <div class="span1">
								    <ul class="unstyled">
									    <li><a href="http://bwogstats.com">Home</a></li>
									    <li><a href="/bwog/rankings">Rankings</a></li>
									    <li><a href="/bwog/correlation">Statistics</a></li>
								    </ul>
							    </div>
							    <div class="span1">
								    <ul class="unstyled">
									    <li><a href="/bwog/predictions/">Predictions</a></li>
									    <li><a href="/bwog/">Bwogstats</a></li>
									    <li><a href="http://bwog.com/">Bwog</a></li>
								    </ul>
							    </div>

						    </div><!-- /row -->
					    </div>
					    <div class="span3">
						    <h4>Talk about us!</h4><br>
						    <ul class=>
							    <li><a href="http://twitter.com/bwogstats">@bwogstats</a></li>
							    <li><a href="http://facebook.com/bwogstats">Facebook</a></li>
							    <li><a href="http://bwog.com/submit-a-tip/">Tip Bwog</a></li>

						    </ul>
						    <address>
						    </address>
					    </div>
					    <div class="span3">
						    <h4><span class="brand-style"><span class="brand-color">Bwog</span>Stats</span> in your inbox</h4><br>
						    <p><!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://bwogstats.us5.list-manage1.com/subscribe/post?u=c1c14e32e641ddfdb5a256e6c&amp;id=bf0f1ba565" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" class="form-inline" novalidate>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="input-medium email"  id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
</form>
</div>

<!--End mc_embed_signup-->.</p>
					    </div>
				    </div><!-- /row -->
			    </div><!-- /container -->
		    </div><!-- /row -->
	    </div><!-- /container -->

	    <div class="final-footer">
		    <div class="container">
			    <div class="row">
				    <div class="span4">
					    <p>© <a href="http://bwogstats.com">BwogStats</a> 2012, don't be a dick license.</p>
				    </div>
				    <div class="span8">
					    <ul class="footer-ul pull-right">
						    <li class="inline"><a href="http://twitter.com/mcguirejpatrick">Patrick McGuire</a></li>
						    <li class="inline"><a href="http://noahpryor.com">Noah Pryor</a></li>
					    </ul>
				    </div>
			    </div>
		    </div>
	    </div>
	    </footer>
	    <!-- Le javascript==================================================-
	    ->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="/static/bootstrap/js/bootstrap-transition.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-alert.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-modal.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-dropdown.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-scrollspy.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-tab.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-tooltip.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-popover.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-button.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-collapse.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-carousel.js">
	    </script>
	    <script src="/static/bootstrap/js/bootstrap-typeahead.js">
	    </script>
	    	    <script src="”http://twitter.com/javascripts/blogger.js">
	    </script>
<script src ="http://twitter.com/statuses/user_timeline/bwogstats.json?callback=twitterCallback2&count=1"></script>
	
	    <script src="/static/jqplot/jquery.jqplot.js">
	    </script>
	    <script src="/static/jqplot/plugins/jqplot.dateAxisRenderer.js">
	    </script>
	    <script src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.js">
	    </script>
	    <script src="/static/jqplot/plugins/jqplot.canvasTextRenderer.js">
	    </script>
	    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
	    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>

	    <script src="/static/bwog/zeitgeist.js">
	    </script>
    	<script src="/static/js/jquery.cslider.js"></script>

    <!-- <script src="/static/js/less-1.3.0.min.js"></script> -->
    <script src="/static/js/functions.min.js"></script>



	<script src="/static/js/jquery.isotope.min.js"></script>

	</body>
</html >